nav {
  a {
    color:     #eee;
    font-size: 1.8rem;
    padding:   5px 10px;

    &:hover, &:active, &:focus {
      text-decoration: none;
      color:           #fff;
    }
  }
}

.site-logo {
  height:       40px;
  margin-right: 50px;
}
