html {
  font-size: 62.5%; // 10px = 0.625 * 16px (browser default)
}

body {
  font-size:   1.6rem; // 16px
  line-height: 2.8rem; // 28px
  font-weight: 400;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
