<div class="page">
  <div class="container">
    <h1>Project List:</h1>
    <mat-card *ngFor="let project of projects; let i = index">
      <mat-card-content>
        <h4><a routerLink="/project/item/{{i}}">{{ project.title }}</a></h4>
        <header>
          <span>Type: {{ project.type }}</span>
          <span>Created At: {{ project.createdAt | date }}</span>
          <span>Owner: {{ project.owner }}</span>
          <i class="glyphicon glyphicon-star pull-right"></i>
          <i class="fa fa-star pull-right"></i>
          <mat-icon class="pull-right">star</mat-icon>
        </header>
      </mat-card-content>
    </mat-card>
  </div>
</div>
